<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnQuest"
        tools:targetApi="31">
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Resources.ManageStudyResource"
            android:exported="true">
            <intent-filter>
                <!-- Custom action for the intent -->
                <action android:name="com.example.ACTION_STUDY_RESOURCES" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- Category allows it to show in the launcher if specified -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Optional: specify the MIME type if your intent includes data -->
                <!-- <data android:mimeType="text/plain" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Resources.AnalyzePDFActivity.AnalyzePDF_Activity" android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Resources.Background.DownloadService"
            android:exported="false" />

        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Assessments.ManageGoals.AddGoalActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Assessments.ManageGoals.GroupAssessmentListActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Assessments.ManageGoals.AdjustGoalsListActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Resources.ManageResourcesActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.ManageGroups.DeleteGroupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.ManageGroups.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.ManageGroups.RemoveGroupMemberActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.ManageGroups.ViewGroupMembersActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.ManageGroups.JoinGroupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Assessments.ManageGoals.GoalsListActivity"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.GroupView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginRegister.Dashboard.Dashboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginRegister.LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Assessments.ManageGoals.ViewProgressActivity"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.ManageGroups.PendingUsersActivity"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.RegisterActivity"
            android:exported="true" />
        <activity android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Assessments.ManageAssessments.ListViewActivity"
            android:exported="true"/>

        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Assessments.ManageGoals.AdjustGoalActivity"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Assessments.SetWeightings.ListViewActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.StudyTools.Pomodoro.pomoDoroMain"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Quiz.QuizBank.quizBankHome"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Home.ManageTags.TagManageHome"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Quiz.addValidation.quizValidHome"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Quiz.QuizBank.quizNewInsertAct"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Quiz.QuizBank.EditQuizActivity"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Quiz.addValidation.editQuizFromValidAct"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Quiz.takingQuiz.QuizNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginRegister.Dashboard.SelectGroups.GroupDashboard.Quiz.takingQuiz.takeQuizSplasha"
            android:exported="true" />
    </application>

</manifest>